/*responsive styles*/

#social-icons, #logo {
    width:100%;
    text-align: center;
}

.bg{
    background: url("../images/bg.jpg");
    background-size: cover;
}

@media (max-width: 1140px) { /* Desktop */
    #display{
        padding-left: 100px; 
        padding-right: 100px;
    }

    .services .col{
        margin-top: 40px;
    }
}
@media (max-width: 993px) { /* Tables */
    #display{
        padding-left: 50px; 
        padding-right: 50px;
    }

    .services .col{
        margin-top: 20px;
    }
}
@media (min-width: 320px) and (max-width: 601px) { /* Smartphones */
    #display{
        padding-left: 0px; 
        padding-right: 0px;
    }

    .services .col{
        margin-top: 0px;
    }
}