/*responsive styles*/
.mobile{
    display: none !important;
}

#social-icons, #logo {
    width:100%;
    text-align: center;
}

.bg{
    background-color: #000000;
}

#modal_services .modal-content h1{
    font-size: 2.5rem;
    text-align: center;
}

.rnr-parallax4 div[data-display='portfolio-grid']{

}

.rnr-parallax4 div[data-display='portfolio-grid'] .logo{
    width: 100px;
}

.rnr-parallax4 div[data-display='portfolio-grid'] .card-image img{
    width: 100%;
}

.rnr-parallax4 div[data-display='portfolio-grid'] .fp-tableCell{
    height: 200px !important;
}

.rnr-parallax4 div[data-display='portfolio-grid'] img{
    width: 100%;
}

@media (min-width: 1141px) { /* Desktop */
    #display{
        padding-left: 100px; 
        padding-right: 100px;
    }
    .services .col{
        margin-top: 40px;
    }
    .rnr-parallax3 div[data-display='services-slider']{
        display: none;
    }
    .rnr-parallax4 div[data-display='portfolio-slider']{
        display: none;
    }
    .rnr-parallax5 div[data-display='team-slider']{
        display: none;
    }
    .fp-slidesNav{
        display: none;
    }
    .portfolio-grid .slide{

    }
    #modal_services img{
        width: 100px;
    }
    /*.rnr-parallax4 div[data-display='portfolio-grid'] {
        display: none;
    }*/
}
@media (max-width: 1140px) { /* Desktop */
    #display{
        padding-left: 100px; 
        padding-right: 100px;
    }
    .services .col{
        margin-top: 40px;
    }
    #display_right img{
        width:80%;
    }
    #display_right #hand{
        width: 60%;
        top: 30%;
    }
    .rnr-parallax3 div[data-display='services-slider']{
        display: none;
    }
    .rnr-parallax4 div[data-display='portfolio-slider']{
        display: none;
    }
    .rnr-parallax5 div[data-display='team-slider']{
        display: none;
    }
    .fp-slidesNav{
        display: none;
    }
    #modal_services img{
        width: 100px;
    }
}
@media (max-width: 993px) { /* Tables */
    #display{
        padding-left: 50px; 
        padding-right: 50px;
    }
    .services .col{
        margin-top: 20px;
    }
    #display_right{
        display: block;
    }
    #display_right img{
        width:80%;
    }
    #display_right #hand{
        width:50%;
        margin:0 auto;
        top: 40%;
    }
    .rnr-parallax3 div[data-display='services-slider']{
        display: none;
    }
    .rnr-parallax4 div[data-display='portfolio-slider']{
        display: none;
    }
    .rnr-parallax5 div[data-display='team-slider']{
        display: none;
    }
    .fp-slidesNav{
        display: none;
    }
    #modal_services img{
        width: 90px;
    }
    #modal_services img.logo{
        width: 200px;
    }
    .nav-wrapper{
        padding: 0 .75rem !important;
    }
    .nav-wrapper i{
        font-size: 35px !important;
        padding: 0 .75rem;
    } 
    #side-menu{
        height: 100% !important;
        margin: 100px 0;
    }
}
@media (min-width: 320px) and (max-width: 601px) { /* Smartphones */
    #display{
        padding-left: 25px;
        padding-right: 25px;
    }
    .services .col{
        margin-top: 0px;
    }
    #display_right{
        display: none;
    }

    #display_form h2{
        font-size: 30px;
    }

    .rnr-parallax2{
        /*text-align: left !important;*/
    }

    h1{
        /* font-size: 2.5rem; */
    }
    p{
        font-size: 14px;
    }

    .rnr-button.flat{
        font-size: 15px;
    }

    .rnr-button.flat i{
        line-height: 45px;
    }

    .rnr-parallax3 div[data-display='services-grid']{
        display: none;
    }

    .rnr-parallax3 div[data-display='services-slider']{
        display: block;
    }

    .rnr-parallax3 div[data-display='services-slider'] .carousel {
        height: 200px !important;
    }

    .rnr-parallax3 div[data-display='services-slider'] .carousel p{
        font-size: 15px !important;
    }

    .rnr-parallax4 div[data-display='portfolio-grid']{
        display: block;
    }

    .rnr-parallax4 div[data-display='portfolio-slider']{
        display: block;
    }

    .rnr-parallax4 div[data-display='portfolio-slider'] img{
        width: 100%;
    }

    .rnr-parallax4 div[data-display='portfolio-slider']  .carousel p{
        font-size: 15px !important;
    }

    .rnr-parallax5 div[data-display='team-grid']{
        display: none;
    }

    .rnr-parallax5 div[data-display='team-slider']{
        display: block;
    }
    .fp-slidesNav{
        display: block;
    }

    .slide .fp-tableCell{
        height: 100% !important;
    }

    .fp-controlArrow{
        top:60% !important;
        display: none !important;
    }

    #modal_services img{
        width: 80px;
    }
    .nav-wrapper{
        padding: 0 .75rem !important;
    }
    .nav-wrapper i{
        font-size: 35px !important;
    } 
    #side-menu{
        height: 100% !important;
        margin: 100px 0;
    }
    /*services*/
    ul.services-menu{
        text-align: left;
    }
    .services-menu li{
        padding: 20px 0px 20px 40px;
        font-family: 'coco-gothicUltralight';
        font-size: 12px;
    }

    i.dot{
        font-family: 'Material Icons';
        font-weight: unset;
        font-style: normal;
        font-size: 16px;
        position: absolute;
        z-index: 1;
        margin: 0%;
        left: 4%;
        content: "";
    }
    li i.dot:hover{
    display: none;
    }

    li i:after:hover{
        display: block;
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        border-radius: 50%;
        z-index: 1000;
    }

    li#web i:after:hover{
        background: url(../images/icons/web_creation.png) center/cover no-repeat !important;
        background-size: 25px !important;
        background-color: #ffffff !important;
    }
    li#software i:after:hover{
        background: url(../images/icons/software_solution.png) center/cover no-repeat !important;
        background-size: 25px !important;
        background-color: #ffffff !important;
    }
    li#digital i:after:hover{
        background: url(../images/icons/digital_marketing.png) center/cover no-repeat !important;
        background-size: 25px !important;
        background-color: #ffffff !important;
    }
    li#seo i:after:hover{
        background: url(../images/icons/seo.png) center/cover no-repeat !important;
        background-size: 25px !important;
        background-color: #ffffff !important;
    }
    li#social i:after:hover{
        background: url(../images/icons/social_media.png) center/cover no-repeat !important;
        background-size: 25px !important;
        background-color: #ffffff !important;
    }
    /*contact*/
    i.contact-icons{
        color: white;
        border: 1px solid;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        font-size: 25px;
        text-align: center;
        padding-top: 4px;
        position: absolute;
        left: 0%;
        margin-top: -5px;
    }
    .rnr-parallax6 ul{
        text-align: left;
        padding-left: 60px !important;
    }
    .rnr-parallax6 li{
        height: 35px;
    }
    .rnr-parallax6 p{
        color: white !important;
    }
}

p.label{
    font-size: 15px;
}

.rnr_team .images{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;   
    margin-top: 20px; 
}

.rnr_team .images img{
    width: 100px;
}

.rnr_team .topImage{
    position: absolute;
}

.rnr_team .topImage img{
    position: relative;
    width: 50px;
    left: -20px;
    top: -30px;
    /*background: #fff;*/
    padding: 5px;    
}

.rnr-divider{
    height: 2px;
    border-left: solid #64c2ec 50px;
    border-right: solid #f74356 50px;
    width: 0px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.rnr-button{
    /*background: #f00 !important;*/
    background: transparent !important;
    border: 1px solid darkgray;
    padding: 7px;
    color: darkgray;
    /* border-radius: 5px; */
    text-transform: uppercase;
    min-width: 200px;
    font-family: coco-gothic;
    letter-spacing: 3px;
}

.rnr-button:hover{
    /*background-color: #f00 !important;*/
    border: 1px solid #fff;
    padding: 10px;
    /*color: #3/33;*/
    /* border-radius: 5px; */
}

.rnr-parallax4 .card{
    background-color: transparent !important;
    box-shadow: none !important;
    text-align: left;
}

.line{
    border:2px solid #ccc;
    min-height: 260px;
}

.line small{
    font-size: 60% !important;
}

.invert{
    filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
}

.hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-size: cover;
    margin: 0px auto;
    height: 150px;
    width: 130px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.hexagon:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.hexagon-line {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-size: cover;
    margin: 0px auto;
    height: 150px;
    width: 130px;
}

.portfolio-icon{
    top: 40%; 
    position: relative;
}

.portfolio-icon .material-icons{
    font-size: 40px;
}

.portfolio-icon .left{
    position: absolute; 
    left: -10px;
}

.portfolio-icon .right{
    position: absolute; 
    right: -10px;
}

.carousel{
    height: 300px !important;
}

.rnr-button.flat{
    /* padding: 0px; */
    /* margin-top: 10px; */
    /* min-width: 100px; */
}

.rnr-button.flat i{
    line-height: 0;
    margin: -2px 0 0 5px;
}

.carousel .logo{
    width:100px;    
}

.carousel.carousel-slider .carousel-item p{
    font-size: 20px !important;
}

#rnr_team .label{
    background-color: #0d1216;
    top: -40px;
    position: relative;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #fff;
}

#rnr_team .profile{
    margin-top: 40px; 
    margin:0 auto; 
    float:unset; 
    display: inline-block; 
    min-width: 150px; 
    margin-left: 25px;
    margin-right: 25px;
}

#rnr_team .profile .chi{
    background:url('../images/team/chi.png') no-repeat; 
    background-size: cover; 
    display: inline-block;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#rnr_team .profile .chi:hover{
    background:url('../images/team/chi2.png') no-repeat; 
    background-size: cover; 
    display: inline-block;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#rnr_team .profile .chi{
    background:url('../images/team/chi.png') no-repeat; 
    background-size: cover; 
    display: inline-block;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#rnr_team .profile:hover > .hexagon{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#rnr_team .label span{
    font-size: 15px;
    line-height: 0px;
}

#rnr_team .label span.position{
    font-size: 10px;
    line-height: 0px;
}

/*#modal_services{
    max-height: none;
    top: 0px;
    bottom:none;
    overflow: hidden;
}
*/
#modal_services .modal-content{
    overflow-x: hidden;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: 20%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}

#fullpage, #modal_services .modal-content{
    width:100% !important;
    position: absolute !important;
    /* top: 0px !important; */
}

#modal_services .modal-content{
    position: relative !important;
    width:100% !important;
    top:0px;
}

#modal_services canvas{
    position: absolute !important;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/google-icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: unset;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  margin-top: -11px;
  vertical-align: middle;
  /* margin-left: -25%; */
  